@use 'uswds-core' as *;

.ctla-results__intro a {
	text-decoration: underline;
}

.ctla-results__summary .grid-row {
	.ctla-results__pager {
		display: block;
		@include u-border-top($theme-pagination-button-border-width, 'solid', $theme-color-base-light); // 1px #A9AEB1

		nav.pager__container {
			display: block;
		}
	}

	.ctla-results__count {
		@media (max-width: 639px) {
			@include u-margin-bottom(3);
		}

		@include u-margin-bottom(4);
	}
}

.ctla-results__list {
	@include u-border-top($theme-pagination-button-border-width, 'solid', $theme-color-base-light); // 1px #A9AEB1

	@media (max-width: 639px) {
		@include u-padding-top(3);
	}

	@include u-padding-top(4);
}

.ctla-results__list ul {
	@include u-margin(0);
	@include u-padding(0);
	list-style-type: none;
}

.ctla-results__list ul > li {
	@include u-margin-bottom(4, !important);
	clear: both;
}

.ctla-results__list ul > li:before {
	content: '' !important;
	display: none;
}

.ctla-results__list.has-images ul > li {
	@include u-margin-top(5);
	@include u-margin-bottom(5);
}

.ctla-results__list.has-images ul > li:first-child {
	@include u-margin-top(5);
}

.ctla-results__list .container {
	@include u-display('inline-block');
	@include u-padding(0);
	vertical-align: top;
}

.ctla-results__list .container.image {
	@include u-margin-top('05');
	@include u-padding(0);
	@include u-margin-right('neg-05');
	width: 21%;
}

.ctla-results__list .container.image + .container.title {
	@include u-padding-left('205');
	@include u-margin-right('neg-05');
	width: 78%;
}

.ctla-results__list-item .grid-row :not(div.ctla-results__list-item-location) {
	@include u-padding-bottom('05');
}
