.ctla-results__summary .grid-row {
	.ctla-results__pager {
		display: block;
		margin-top: 20px;
		border-top: 1px solid #ddd;

		nav.pager__container {
			display: block;
		}
	}
}

.ctla-results__list {
	border-top: 1px solid #ddd;
	margin: 1em 0 1em;
}

@media only screen and (min-width: 1024px) {
	.ctla-results__list {
		border-top: 1px solid #ddd;
	}
}
