.ctla-results__list-item {
	&-title {
		font-family: Montserrat, Avant Garde, Arial, sans-serif;
		font-weight: 400;
		font-size: 1.125em;
		line-height: 1.111em;
		text-decoration: none;
	}

	.ctla-results__list-item-title {
		&:hover {
			color: #bb0e3d;
			text-decoration: none;
		}
	}

	&-body {
		margin: 0.25em 0;
	}
}
