@use "uswds-core" as *;

$pagination-color-current: "accent-cool-dark";

@forward 'usa-pagination';

.usa-pagination {
    justify-content: left;
    margin-top: 12px;
    margin-bottom: 12px;
}

.usa-pagination__list {
    margin-bottom: 0px !important;
}

.usa-pagination__arrow:has(a.hidden) {
    display: none;
}

.usa-pagination .usa-current {
    background-color: color($pagination-color-current);
}

.usa-pagination .usa-current:hover {
    background-color: #06162D;
}

.usa-pagination__next-page svg {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99984 6L8.58984 7.41L13.1698 12L8.58984 16.59L9.99984 18L15.9998 12L9.99984 6Z" fill="%2300314B"/></svg>');
    background-size: 19px 19px;
    background-position: center;
}

.usa-pagination__previous-page:not(.hidden) svg {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M7.41 1.41L6 0L0 6L6 12L7.41 10.59L2.83 6L7.41 1.41Z" fill="%2300314B"/></svg>');
    background-size: 19px 19px;
    background-position: 6px 4px;
}
