.nci-spinner {
	position: relative;
	min-height: 30vh;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinkit {
	margin: 30px auto;
	width: 100px;
	height: 100px;
	position: relative;
	top: -15px;
	text-align: center;
}

.spinner {
	animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #319fbe;
	border-radius: 100%;

	animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes sk-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
