.ctla-results__intro a {
	text-decoration: underline;
}

.ctla-results__summary .grid-row {
	.ctla-results__pager {
		display: block;
		border-top: 1px solid #A9AEB1;

		nav.pager__container {
			display: block;
		}
	}

	.ctla-results__count {
		@media (max-width: 639px) {
			margin-bottom: 1.5em;
		}
		margin-bottom: 2em;
	}
}

.ctla-results__list {
	border-top: 1px solid #A9AEB1;
}

.cddpl h2{
	margin-top: 0;
}
.disease-view {
	&__container {
		display: grid;
		max-width: 1440px;
		margin: 0 auto;
		gap: 0 1rem;
		padding: 0 1rem;

		// Desktop grid
		grid-template-columns: 320px 1fr;
		grid-template-areas:
      "sidebar heading"
      "sidebar intro"
      "sidebar content";

		@media (max-width: 1023px) {
			// Mobile grid
			grid-template-columns: 1fr;
			grid-template-areas:
        "heading"
        "intro"
        "sidebar"
        "content";
			padding: 16px;
		}
	}

	&__heading {
		grid-area: heading;
		margin:0;
		padding-top: 16px; // Desktop padding
		padding-bottom: 4px;

		@media (max-width: 1023px) {
			padding-top: 8px; // Reduced padding for mobile
		}
	}

	&__intro {
		margin: 0;
		grid-area: intro;
	}

	.ctla-sidebar {
		grid-area: sidebar;
		margin-bottom: 20px;
		padding-top: 0;
	 h2{
			margin-top: 0;
		}
	}

	&__content {
		grid-area: content;
	}
}

.ctla-results__list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ctla-results__list ul > li {
	margin-bottom: 1.875em !important;
	clear: both;
}

.ctla-results__list ul > li:before {
	content: '';
	display: none;
}

.ctla-results__list.has-images ul > li {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.ctla-results__list.has-images ul > li:first-child {
	margin-top: 1.875em;
}

.ctla-results__list .container {
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.ctla-results__list .container.image {
	width: 21%;
	margin-top: 0.25em;
	padding: 0;
	margin-right: -4px;
}

.ctla-results__list .container.image + .container.title {
	width: 78%;
	padding-left: 1.25em;
	margin-right: -4px;
}

.ctla-results__list-item .grid-row :not(div.ctla-results__list-item-location) {
	padding-bottom: 0.25rem;
}
