.ctla-results__summary .grid-row {
	.ctla-results__pager {
		display: block;
		margin-top: 20px;
		border-top: 1px solid #ddd;

		nav.pager__container {
			display: block;
		}
	}
}

.ctla-results__list {
	border-top: 1px solid #ddd;
}

.cddpl h2{
	margin-top: 0;
}
.disease-view {
	&__container {
		display: grid;
		max-width: 1440px;
		margin: 0 auto;
		gap: 0 4rem;
		padding: 0 1rem;

		// Desktop grid
		grid-template-columns: 320px 1fr;
		grid-template-areas:
      "sidebar heading"
      "sidebar intro"
      "sidebar content";

		@media (max-width: 1028px) {
			// Mobile grid
			grid-template-columns: 1fr;
			grid-template-areas:
        "heading"
        "intro"
        "sidebar"
        "content";
			padding: 16px;
		}
	}

	&__heading {
		grid-area: heading;
		margin:0;
		padding-top: 35px; // Desktop padding

		@media (max-width: 1028px) {
			padding-top: 8px; // Reduced padding for mobile
		}
	}

	&__intro {
		margin: 0;
		grid-area: intro;
	}

	.ctla-sidebar {
		grid-area: sidebar;
		margin-bottom: 20px;
		padding-top: 0;
	 h2{
			margin-top: 0;
		}
	}

	&__content {
		grid-area: content;
	}
}

