.paging-section {
	&__pager {
		display: block;
		margin-top: 20px;
		padding-top: 1.25em;
		border-top: 1px solid #ddd;

		nav.pager__container {
			display: block;
		}
	}

	@media only screen and (min-width: 1024px) {
		height: auto;
		display: flex;
		justify-content: space-between;
		padding-top: 3px;
		&__page-info {
			padding-top: 3px;
			padding-bottom: 3px;
		}

		&__pager {
			padding-top: 3px;
			margin-left: auto;
			margin-top: 0;
			padding-top: 0;
			border: none;
		}
	}
}

.list {
	border-top: 1px solid #ddd;
	margin: 1.25em 0 1em;
}

@media only screen and (min-width: 1024px) {
	.list {
		border-top: 1px solid #ddd;
	}
}

@media only screen and (min-width: 1024px) {
	.list+.paging-section:not(:empty) {
		border-top: 1px solid #ddd;
		padding-top: 25px;
	}
}
