.ctla-results__summary .grid-row {
	.ctla-results__pager {
		display: block;
		margin-top: 2rem;
		border-top: 1px solid #ddd;

		nav.pager__container {
			display: block;
		}
	}
}

@media (max-width: 63.99em) {
    .usa-footer__nci-return-to-top a::after {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="m4 12 1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" fill="%231B1B1B"/></svg>') !important;
    }
}

.ctla-results__list {
	border-top: 1px solid #ddd;
	margin: 1em 0 1em;
}

@media only screen and (min-width: 1024px) {
.ctla-results__list {
	border-top: 1px solid #ddd;
}
}
